@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy ExtraBold'),
       url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy Light'),
       url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans'),
       url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  src: local('OpenSans Light'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff');
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
  width: 1px;
	height: 1px;
	overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

.header {
  width: 1040px;
  margin: 40px auto 0;
  padding: 0 60px;
  position: relative;

  background-color: rgba(240, 197, 46, 0.5);
}

.header__logo {
  position: absolute;
  top: -20px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:focus {
  opacity: 0.3;
}

.header__control-section {
  display: flex;
  padding-top: 34px;
}

.header__search {
  position: relative;

  width: 540px;
}

.header__search::before {
  content: "";

  position: absolute;
  top: 16px;
  left: 3px;

  width: 16px;
  height: 16px;

  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search__field {
  width: 356px;
  height: 49px;
  padding-left: 35px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.3);

  background-color: transparent;
  border: 2px solid transparent;
}

.search__field:focus,
.search__field:valid {
  color: #000000;
  outline: none;
  border-bottom: 2px solid #000000;
}

.search__field:not(:placeholder-shown) {
  color: #000000;
  outline: none;
  border-bottom: 2px solid #000000;
}

input[type="search"]::-webkit-search-cancel-button { /* убираем кнопку очистки поля */
	-webkit-appearance: none;
}

.search__field::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: rgba(0, 0, 0, 0.3);
}

.search__field::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgba(0, 0, 0, 0.3);
  opacity:  1;
}

.search__field:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.3);
}

.search__field::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.3);
}

.search__field::placeholder { /* Most modern browsers ? */
  color: rgba(0, 0, 0, 0.3);
}

.search__field:hover::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: rgba(0, 0, 0, 0.6);
}

.search__field:hover::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgba(0, 0, 0, 0.6);
  opacity:  1;
}

.search__field:hover:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.6);
}

.search__field:hover::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.6);
}

.search__field:hover::placeholder { /* Most modern browsers ? */
  color: rgba(0, 0, 0, 0.6);
}

.search__button {
  display: none;
  margin: -4px 0 0 -5px;
  padding: 0 21px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  line-height: 45px;
  font-weight: 300;
  letter-spacing: 0.2px;
  text-align: center;
  color: #000000;
  vertical-align: middle;

  background-color: transparent;
  border: 2px solid #000000;
}

.search__field:focus ~ .search__button,
.search__field:valid ~ .search__button {
  display: inline-block;
  vertical-align: middle;
  outline: none;
}

.search__field:not(:placeholder-shown) ~ .search__button {
  display: inline-block;
  vertical-align: middle;
}

.search__button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search__button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.header__user-nav {
  width: 287px;
  margin: 0;
}

.user-nav {
  display: flex;

  list-style: none;
}

.header__user-nav,
.header__compare,
.header__cart {
  padding: 8px 0;
}

.user-nav__login-link,
.user-nav__profile-link,
.user-nav__logout-link,
.compare,
.cart {
  display: inline-block;
  vertical-align: top;

  height: 31px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.user-nav__login-link,
.user-nav__profile-link {
  position: relative;

  padding-left: 27px;
}

.user-nav__login-link::before,
.user-nav__profile-link::before {
  content: "";

  position: absolute;
  top: 9px;
  left: 0;

  width: 13px;
  height: 12px;

  background-image: url(../img/user-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-nav__logout-link {
  margin-left: 20px;
  opacity: 0.3;
}

.header__compare {
  position: relative;

  width: 94px;
  padding-left: 20px;
}

.header__compare::before {
  content: "";

  position: absolute;
  top: 19px;
  left: 0;

  width: 10px;
  height: 10px;

  background-image: url(../img/compare-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header__cart {
  position: relative;

  width: 60px;
  margin-left: auto;
  padding-left: 24px;

  text-align: right;
}

.header__cart::before {
  content: "";

  position: absolute;
  top: 17px;
  left: 0;

  width: 12px;
  height: 12px;

  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.link-dark {
  color: #000000;
}

.link-dark:hover {
  opacity: 0.6;
}

.link-dark:focus {
  opacity: 0.3;
}

.header__nav-section {
  display: flex;
  margin-top: 28px;
  padding-bottom: 50px;
}

.nav-catalog {
  position: relative;
  width: 540px;
  width: 260px;
  margin-right: 280px;
}

.nav-catalog__title {
  position: relative;

  padding-right: 28px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.nav-catalog__title:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav-catalog__title:focus {
  color: rgba(0, 0, 0, 0.3);
}

.nav-catalog__title::after {
  content: "";

  position: absolute;
  top: 3px;
  right: 0;

  width: 16px;
  height: 16px;

  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3
}

.nav-catalog__list {
  position: absolute;
  top: 21px;
  left: -60px;
  z-index: 1;

  display: none;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;

  width: 1040px;
  height: 142px;
  margin: 0;
  padding: 25px 60px 0;
  list-style: none;

  background-color: #f7e296;
}

.nav-catalog:hover .nav-catalog__list {
  display: flex;
}

.nav-catalog__item {
  min-width: 140px;
  padding-right: 60px;
}

.nav-catalog__item:nth-child(5) {
  margin-bottom: 40px;
}

.nav-catalog__link {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.site-nav__nav-menu {
  width: 500px;
  margin: 0;
}

.nav-menu {
  display: flex;
  padding: 0;
  list-style: none;
}

.nav-menu__item {
  width: 159px;
}

.nav-menu__item--last {
  margin-left: auto;
  margin-right: -4px;
  text-align: right;
}

.nav-menu__link {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

.main {
  overflow-x: hidden;
}

.main__actual-slider {
  margin: 0 auto 94px;
}

.actual {
  position: relative;

  width: 1160px;
  min-height: 500px;

  background-color: #ffffff;
  background-image: linear-gradient(to bottom, rgba(240, 197, 46, 0.5) 113px, #ffffff 113px);
}

.actual__controls {
  position: absolute;
  top: 315px;
  right: 74px;
  z-index: 100;

  width: 94px;
}

.actual__switch {
  position: relative;

  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 8px;

  font-size: 0;

  background-color: transparent;
  cursor: pointer;
}

.actual__switch::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;

  width: 11px;
  height: 11px;

  border: 1px solid #000000;
  border-radius: 50%;
}

.actual__switch--active {
  cursor: default;
}

.actual__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.actual__item {
  position: relative;

  display: none;
  flex-direction: row;
}

.actual__slide--1:checked ~ .actual__list .actual__item:nth-child(1) {
  display: flex;
}

.actual__slide--2:checked ~ .actual__list .actual__item:nth-child(2) {
  display: flex;
}

.actual__slide--3:checked ~ .actual__list .actual__item:nth-child(3) {
  display: flex;
}

.actual__slide--1:checked ~ .actual__controls .actual__switch--1::before,
.actual__slide--2:checked ~ .actual__controls .actual__switch--2::before,
.actual__slide--3:checked ~ .actual__controls .actual__switch--3::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 12px;

  width: 3px;
  height: 3px;

  border: 1px solid #000000;
  border-radius: 50%;
}

.actual__item::before {
  position: absolute;
  top: -12px;
  right: 46px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 179px;
  line-height: 1;
  font-weight: 800;
  letter-spacing: 1.79px;
  text-align: right;
  color: #ffffff;
}

.actual__item:nth-child(1)::before {
  content: "01";
}

.actual__item:nth-child(2)::before {
  content: "02";
}

.actual__item:nth-child(3)::before {
  content: "03";
}

.actual__photo {
  width: 565px;
  margin-right: 35px;
}

.actual__img {
  display: block;
  margin: 2px auto 0;
}

.actual__img--fitness {
  margin-top: 14px;
}

.actual__img--quadro {
  margin-top: 65px;
}

.actual__info {
  width: 560px;
}

.title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 1.19;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #000000;
}

.actual__title {
  position: relative;

  margin: 82px 0 20px;
}

.actual__title::before {
  content: "";

  position: absolute;
  top: -43px;
  left: 0;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.actual__content {
  width: 486px;
  margin: 0 0 43px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  line-height: 2;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-align: left;
  color: #464646;
}

.button {
  position: relative;
  z-index: 2;

  display: inline-block;
  padding: 8px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  color: #000000;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button::before {
  content: "";
  z-index: -1;

  position: absolute;
  top: 50%;
  left: 0;

  width: 100%;
  height: 8px;

  background-color: #f0c52e;
  transition: transform;
  transform: translateY(-4px);
}

.button:hover::before,
.button:focus::before {
  height: 40px;
  transform: translateY(-20px);
}

.button:focus {
  color: rgba(0, 0, 0, 0.3);
}

.actual__button {
  min-width: 204px;
}

.actual__specification {
  margin-top: 51px;

  border-collapse: collapse;
}

.specification__values-row {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 36px;
  line-height: 1.33;
  font-weight: 300;
  letter-spacing: 0.36px;
  text-align: left;
  color: #000000;
}

.specification__value {
  width: 160px;
  padding: 0;
}

.specification__value:nth-child(n+2) {
  width: 140px;
}

.specification__options-row {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.54;
  font-weight: 300;
  letter-spacing: 0.13px;
  text-align: left;
  color: #464646;
}

.specification__option {
  padding: 7px 0 0;
}

.main__goods {
  margin: 0 auto 80px;
}

.goods {
  display: flex;
  justify-content: space-between;

  width: 1160px;
}

.goods__item {
  width: 160px;

  text-decoration: none;
}

.goods__image {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 160px;

  background-color: rgba(240, 197, 46, 0.5);
}

.goods__icon--bottom {
  margin-top: auto;
}

.goods__title {
  margin: 34px 0 0;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 800;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
}

.goods__item:hover .goods__image,
.goods__item:focus .goods__image {
  background-color: #f0c52e;
}

.goods__item:focus .goods__icon,
.goods__item:focus .goods__title {
  opacity: 0.3;
}

.main__services-slider {
  margin-bottom: 94px;
}

.services {
  background-image: linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px);
}

.services__wrapper {
  position: relative;

  width: 760px;
  margin: 0 auto;
  padding-left: 400px;
}

.services__controls {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 277px;
  height: 170px;
  margin: 0 0 70px;
  padding: 80px 0 70px;
  border-right: 7px solid #000000;
}

.services__switch {
  width: 146px;
}

.services__list {
  width: 760px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services__item {
  display: none;
  padding: 72px 310px 130px 0;

  background-repeat: no-repeat;
}

.services__slide--1:checked ~ .services__list .services__item:nth-child(1) {
  display: block;
}

.services__slide--2:checked ~ .services__list .services__item:nth-child(2) {
  display: block;
}

.services__slide--3:checked ~ .services__list .services__item:nth-child(3) {
  display: block;
}

.services__slide--1:checked ~ .services__controls .services__switch--1,
.services__slide--2:checked ~ .services__controls .services__switch--2,
.services__slide--3:checked ~ .services__controls .services__switch--3 {
  color: #f7e184;
  cursor: default;
}

.services__slide--1:active ~ .services__controls .services__switch--1,
.services__slide--2:active ~ .services__controls .services__switch--2,
.services__slide--3:active ~ .services__controls .services__switch--3 {
  color: rgba(0, 0, 0, 0.3);
}

.services__slide--1:checked ~ .services__controls .services__switch--1::before,
.services__slide--2:checked ~ .services__controls .services__switch--2::before,
.services__slide--3:checked ~ .services__controls .services__switch--3::before {
  top: 0;

  width: 277px;
  height: 40px;

  background-color: #000000;
  transform: none;
}

.services__item:nth-child(1) {
  background-image: url(../img/delivery.svg);
  background-position: top 87px right 66px;
}

.services__item:nth-child(2) {
  background-image: url(../img/warranty.svg);
  background-position: top 63px right 46px;
}

.services__item:nth-child(3) {
  background-image: url(../img/credit.svg);
  background-position: top 63px right 70px;
}

.service__title {
  margin: 0 0 28px;
}

.service__content {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  line-height: 2;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-align: left;
  color: #464646;
}

.main__brands {
  margin-bottom: 94px;
}

.brands__list {
  display: flex;
  justify-content: space-between;

  width: 1160px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.brands__link {
  display: block;

  width: 260px;
  height: 100px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.brands__link--dgi {
  background-image: url(../img/logo-1-grey.png);
}

.brands__link--dgi:hover {
  background-image: url(../img/logo-1.png);
}

.brands__link--spadgets {
  background-image: url(../img/logo-2-grey.png);
}

.brands__link--spadgets:hover {
  background-image: url(../img/logo-2.png);
}

.brands__link--gopro {
  background-image: url(../img/logo-3-grey.png);
}

.brands__link--gopro:hover {
  background-image: url(../img/logo-3.png);
}

.brands__link--vive {
  background-image: url(../img/logo-4-grey.png);
}

.brands__link--vive:hover {
  background-image: url(../img/logo-4.png);
}

.main__info {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto 80px;
  padding: 0 20px;
}

.about-us,
.contacts {
  width: 560px;
}

.about-us__title,
.contacts__title {
  position: relative;

  margin: 52px 0 44px 0;

  line-height: 48px;
}

.about-us__title::before,
.contacts__title::before {
  content: "";

  position: absolute;
  top: -52px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-us__content {
  width: 475px;
  margin-bottom: 30px;
}

.content-text {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.about-us__transport {
  margin: 65px 0 53px;
  padding-left: 36px;

  list-style: none;
}

.transport__company {
  position: relative;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
}

.transport__company::before {
  content: "";

  position: absolute;
  top: 50%;
  left: -36px;
  transform: translateY(-3px);

  width: 4px;
  height: 4px;

  border: 2px solid #e6e6e6;
  border-radius: 50%;
}

.contacts__content {
  margin-bottom: 40px;
}

.contacts__map-link {
  display: block;

  margin-bottom: 62px;
}

.about-us__button,
.contacts__button {
  min-width: 244px;
}

.main__top {
  width: 1040px;
  margin: 37px auto 45px;
}

.main__title {
  margin: 0 0 25px;
  line-height: 48px;
}

.main__breadcrumbs {
  margin: 0;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item {
  position: relative;

  margin-right: 39px;
}

.breadcrumbs__item::after {
  content: "";

  position: absolute;
  top: 9px;
  right: -21px;

  width: 4px;
  height: 7px;

  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs__item--current {
  margin-right: 0;
}

.breadcrumbs__item--current::after {
  display: none;
}

.breadcrumbs__content {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.1px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__content:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__content--current:hover {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__content:focus {
  color: rgba(0, 0, 0, 0.1);
}

.main__content {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  padding-left: 60px;
  margin: 0 auto;
}

.main__filters {
  position: relative;

  width: 268px;
}

.main__filters::before {
    content: "";
    background-color: #ebebeb;
    position: absolute;
    height: 100%;
    width: 4000px;
    left: -3732px;
    z-index: -1;
}

.filters {
  background-color: #ebebeb;
}

.filters__title {
  position: relative;

  min-height: 71px;
  margin: 0 0 82px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 71px;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;

  background-color: #d9d9d9;
}

.filters__title::before {
    content: "";

    position: absolute;
    left: -3732px;
    z-index: -1;

    height: 100%;
    width: 4000px;

    background-color: #d9d9d9;
}

.filter__set {
  position: relative;

  margin: 13px 0 43px;
  padding: 0;
  border: none;
}

.filter__set::before {
  content: "";

  position: absolute;
  top: -12px;
  left: 0;

  width: 200px;
  height: 2px;

  background-color: #000000;
}

.filter__setname {
  margin-bottom: 18px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2px;
  color: #000000;
}

.range__controls {
  position: relative;

  margin: 7px 0 3px;
  padding: 9px 0 9px 4px;
}

.range__scale {
  width: 196px;
  height: 2px;

  background-color: #dbdbdb;
}

.range__bar {
  width: 110px;
  height: 2px;

  background-color: #91c92f;
}

.range__toggle {
  position: absolute;
  top: 0;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range__toggle:focus {
  transform: translate(-1px, -1px);
  border-width: 9px;
}

.range__toggle--min {
  left: -6px;
}

.range__toggle--max {
  left: 107px;
}

.range__price-controls {
  font-size: 0;
}

.range__price {
  display: inline-block;
  width: 90px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
}

.range__price-value {
  width: 50px;
  padding: 0;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);

  background-color: transparent;
  border: none;
}

.color-list,
.bluetooth-list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: #000000;
}

.color-list__label,
.bluetooth-list__label {
  position: relative;

  display: block;
  padding-left: 38px;

  cursor: pointer;
  user-select: none;
}

.color-list__input + .color-list__label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -1px;

  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.color-list__input:checked + .color-list__label::before {
  background-image: url(../img/checkbox-on.svg);
}

.bluetooth-list__input + .bluetooth-list__label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -1px;

  width: 25px;
  height: 25px;

  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bluetooth-list__input:checked + .bluetooth-list__label::before {
  background-image: url(../img/radio-on.svg);
}

.color-list__input:hover + .color-list__label::before,
.color-list__input:focus + .color-list__label::before,
.bluetooth-list__input:hover + .bluetooth-list__label::before,
.bluetooth-list__input:focus + .bluetooth-list__label::before {
  opacity: 0.6;
}

.color-list__input:active + .color-list__label::before,
.bluetooth-list__input:active + .bluetooth-list__label::before {
  opacity: 1;
}

.color-list__input:disabled + .color-list__label,
.bluetooth-list__input:disabled + .bluetooth-list__label {
  color: #a6a6a6;
}

.filter__submit {
  min-width: 200px;
  margin-top: -10px;
}

.catalog {
  width: 760px;
}

.sort {
  position: relative;

  display: flex;
  align-items: center;

  height: 71px;
  margin: 0 0 69px;
}

.sort::before {
    content: "";

    position: absolute;
    top: 0;
    left: -72px;
    z-index: -1;

    height: 100%;
    width: 4000px;

    background-color: #ebebeb;
}

.sort__title {
  margin: 0 55px 0 0;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.sort__parameters-list {
  display: flex;

  margin: 0;
  margin-right: auto;
  padding: 0;

  list-style: none;
}

.sort__parameters-item {
  margin-right: 30px;
}

.sort__parameter {
  padding: 0;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sort__parameter:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort__parameter:focus,
.sort__parameter:disabled {
  color: #000000;
}

.sort__order-list {
  display: flex;
  justify-content: space-between;

  width: 40px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort__order {
  position: relative;

  width: 11px;
  height: 10px;
  padding: 0;

  opacity: 0.2;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sort__order:hover {
  opacity: 0.4;
}

.sort__order:focus,
.sort__order:disabled {
  opacity: 1;
}

.sort__order::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  border-style: solid;
}

.sort__order--increase::before {
  border-width: 0 5.5px 10px 5.5px;
  border-color: transparent transparent #000000 transparent;
}

.sort__order--decrease::before {
  border-width: 10px 5.5px 0 5.5px;
  border-color: #000000 transparent transparent transparent;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  width: 360px;
  padding-bottom: 45px;
}

.catalog-item--new::before {
  content: "new";

  position: absolute;
  top: 28px;
  right: 28px;

  width: 55px;
  height: 57px;
  padding-left: 2px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 14px;
  line-height: 57px;
  font-weight: 800;
  letter-spacing: 0.7px;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;

  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.catalog-item__card {
  order: -1;

  margin-bottom: 28px;
}

.details {
  position: absolute;
  top: 0;
  left: 0;

  display: none;

  width: 360px;
  height: 380px;

  text-align: center;

  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item__card:hover  .details {
  display: block;
}

.details__to-cart {
  min-width: 200px;
  margin: 170px auto 15px;
}

.details__compare {
  display: block;

  padding: 0;
  margin: 0 auto;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.54;
  font-weight: 300;
  letter-spacing: 0.13px;
  text-align: center;
  color: #000000;

  background-color: transparent;
  border: none;
  opacity: 0.5;
  cursor: pointer;
}

.details__compare:hover {
  opacity: 1;
}

.details__compare:focus {
  opacity: 0.2;
}

.catalog-item__title {
  max-width: 260px;
  margin: 0;
}

.catalog-item__link {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #000000;
}

.catalog-item__price {
  margin: 0;
  margin-left: auto;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.2px;
  text-align: right;
}

.pagination {
  margin: -10px 0 77px;
}

.pagination__list {
  display: flex;
  align-items: center;

  min-height: 70px;
  margin: 0;
  padding: 0;

  list-style: none;
  background-color: #ebebeb;
}

.pagination__link,
.pagination__control {
  display: block;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 70px;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination__link {
  padding: 0 15px;
  color: rgba(0, 0, 0, 0.3);
}

.pagination__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination__link:focus,
.pagination__link--current,
.pagination__link--current:hover {
  color: #000000;
}

.pagination__control {
  width: 136px;

  text-align: center;
  color: #000000;
}

.pagination__control:hover {
  background-color: #d9d9d9;
}

.pagination__control:focus {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__item--prev {
  margin-right: auto;
}

.pagination__item--next {
  margin-left: auto;
}

.footer {
  min-width: 1200px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;

  background-color: #464646;
}

.footer__wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 65px 20px;
}

.footer__control-section {
  display: flex;
  margin-bottom: 32px;
}

.footer__logo {
  width: 180px;
  height: 35px;
}

.footer__user-nav {
  margin: 0;
  margin-left: auto;
}

.user-nav__login-link--light::before,
.user-nav__profile-link--light::before {
  background-image: url(../img/user-icon-yellow.svg);
}

.footer__compare {
  position: relative;

  width: 135px;

  text-align: right;
}

.footer__compare::before {
  content: "";

  position: absolute;
  top: 10px;
  right: 82px;

  width: 10px;
  height: 10px;

  background-image: url(../img/compare-icon-yellow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer__cart {
  position: relative;

  width: 120px;
  text-align: right;
}

.footer__cart::before {
  content: "";

  position: absolute;
  top: 9px;
  right: 70px;

  width: 12px;
  height: 12px;

  background-image: url(../img/cart-icon-yellow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-nav__login-link--light:hover::before,
.user-nav__profile-link--light:hover::before,
.footer__compare:hover::before,
.footer__cart:hover::before {
  opacity: 0.6;
}

.user-nav__login-link--light:focus::before,
.user-nav__profile-link--light:focus::before,
.footer__compare:focus::before,
.footer__cart:focus::before {
  opacity: 0.3;
}

.footer__contacts-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.footer__adress,
.footer__phone {
  min-width: 220px;
  margin: 0;
}

.footer__phone {
  text-align: right;
}

.footer__phone-link {
  color: #ffffff;
  text-decoration: none;
}

.footer__nav-menu {
  width: 430px;
  margin: 0;

  justify-content: space-between;
}

.nav-menu__item--footer {
  width: auto;
}

.footer__links-section {
  position: relative;

  display: flex;
  align-items: center;

  padding-left: 80px;
}

.footer__links-section::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer__social {
  margin: 0 auto;
}

.social {
  display: flex;
  justify-content: space-between;

  width: 140px;
}

.social__button {
  display: block;

  width: 32px;
  height: 32px;

  opacity: 0.3;
}

.social__button:hover {
  opacity: 0.6;
}

.social__button:focus {
  opacity: 0.1;
}

.social__button--fb {
  background-image: url(../img/social-facebook.svg);
}

.social__button--ig {
  background-image: url(../img/social-instagram.svg);
}

.social__button--tw {
  background-image: url(../img/social-twitter.svg);
}

.footer__academy-link {
  width: 80px;
  height: 35px;
  text-align: right;
}

.footer__academy-link:hover {
  opacity: 0.6;
}

.footer__academy-link:focus {
  opacity: 0.3;
}

.link-light {
  color: rgba(255, 255, 255, 0.7);
}

.link-light:hover {
  color: #ffffff;
}

.link-light:focus {
  color: rgba(255, 255, 255, 0.3);
}

.nav-menu__link--footer {
  color: #ffffff;
}

.nav-menu__link--footer:hover {
  color: rgba(255, 255, 255, 0.6);
}

.nav-menu__link--footer:focus {
  color: rgba(255, 255, 255, 0.3);
}

.social {
  display: flex;
  padding: 0;
  list-style: none;
}

.social__button {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.social__button:hover {
  color: #ffffff;
}

.social__button:focus {
  color: rgba(255, 255, 255, 0.3);
}

@keyframes bounce {
  0% {
    transform: translateX(-2600px);
  }
  70% {
    transform: translateX(30px);
  }
  90% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;

  display: none;
  width: 960px;
  margin-left: -480px;
  margin-top: -280px;

  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.popup-show {
  display: block;

  animation: bounce 0.6s;
}

.map-popup {
  height: 559px;
}

.popup__map-google {
  position: relative;
  z-index: 2;

  border: none;
}

.popup__map-link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.letter-popup {
  box-sizing: border-box;
  margin-top: -275px;
  padding: 90px 98px 84px;
}

.popup__close {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 3;

  width: 55px;
  height: 55px;

  font-size: 0;

  background-color: #f0c52e;
  border: 0;
  border-radius: 50%;
  opacity: 0.5;

  cursor: pointer;
}

.popup__close:hover {
  opacity: 1;
}

.popup__close:focus {
  opacity: 0.3;
  outline: 0;
}

.popup__close::before,
.popup__close::after {
  content: "";

  position: absolute;
  top: 26px;
  left: 14px;

  width: 28px;
  height: 2px;

  background-color: #ffffff;
}

.popup__close::before {
  transform: rotate(45deg);
}

.popup__close::after {
  transform: rotate(-45deg);
}

.letter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.letter-form__label {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 800;
  color: #000000;
}

.letter-form__field {
  display: block;
  width: 320px;
  margin: 8px 0 32px;
  padding: 16px 20px;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(70, 70, 70, 0.4);

  background-color: #f2f2f2;
  border: none;
}

.letter-form__field:hover {
  background-color: #eaeaea;
}

.letter-form__field:focus {
  background-color: #ffffff;
  outline: solid 3px #f0c52e;
}

.letter-form__field:invalid {
  background-color: #f6dada;
  outline: 0;
}

.letter-form__field--text {
  width: 720px;
  min-height: 124px;
}

.letter-form__submit {
  min-width: 200px;
}
