@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy ExtraBold'),
       url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy Light'),
       url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans'),
       url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  src: local('OpenSans Light'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff');
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.nav-catalog__list,
.map-popup,
.letter-popup,
.details {
  display: none;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.header {
  background-color: rgba(240, 197, 46, 0.5);
}

.search__field {
  font-family: inherit;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.3);

  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.search__field:hover {
  color: rgba(0, 0, 0, 0.6);
}

.search__field:focus {
  color: #000000;
}

.user-nav {
  list-style: none;
}

.user-nav__login-link,
.user-nav__profile-link,
.user-nav__logout-link,
.compare,
.cart {
  letter-spacing: 0.2px;
  color: #000000;
}

.user-nav__login-link:hover,
.user-nav__profile-link:hover,
.user-nav__logout-link:hover,
.compare:hover,
.cart:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-nav__login-link:focus,
.user-nav__profile-link:focus,
.user-nav__logout-link:focus,
.compare:focus,
.cart:focus {
  color: rgba(0, 0, 0, 0.3);
}

.nav-catalog__title {
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: #000000;
}

.nav-catalog__title:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav-catalog__title:focus {
  color: rgba(0, 0, 0, 0.3);
}

.nav-catalog__list {
  list-style: none;
}

.nav-catalog__link {
  line-height: 36px;
  letter-spacing: 0.2px;
  color: #000000;
}

.nav-catalog__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav-catalog__link:focus {
  color: rgba(0, 0, 0, 0.3);
}

.nav-menu {
  list-style: none;
}

.nav-menu__link {
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: #000000;
}

.nav-menu__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav-menu__link:focus {
  color: rgba(0, 0, 0, 0.3);
}

.about-us__title {
  font-family: 'Gilroy';
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #000000;
}

.transport__company {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
}

.button {
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #000000;

  border: none;
}

.contacts__title {
  font-family: 'Gilroy';
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #000000;
}

.main__title {
  font-family: 'Gilroy';
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #000000;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs__content {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__content:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__content--current:hover {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__content:focus {
  color: rgba(0, 0, 0, 0.1);
}

.filters {
  background-color: #ebebeb;
}

.filter__set {
  border: none;
}

.filter__setname {
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2px;
  color: #000000;
}

.color-list,
.bluetooth-list {
  list-style: none;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: #000000;
}

.color-list__input:disabled + .color-list__label,
.bluetooth-list__input:disabled + .bluetooth-list__label {
  color: #a6a6a6;
}

.catalog__list {
  list-style: none;
}

.catalog-item__link {
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2px;
  color: #000000;
}

.catalog-item__price {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.2px;
  text-align: right;
}

.footer {
  color: #ffffff;

  background-color: #464646;
}

.user-nav__login-link--footer,
.user-nav__profile-link--footer,
.user-nav__logout-link--footer,
.compare--footer,
.cart--footer {
  color: rgba(255, 255, 255, 0.7);
}

.user-nav__login-link--footer:hover,
.user-nav__profile-link--footer:hover,
.user-nav__logout-link--footer:hover,
.compare--footer:hover,
.cart--footer:hover {
  color: #ffffff;
}

.user-nav__login-link--footer:focus,
.user-nav__profile-link--footer:focus,
.user-nav__logout-link--footer:focus,
.compare--footer:focus,
.cart--footer:focus {
  color: rgba(255, 255, 255, 0.3);
}

.nav-menu__link--footer {
  color: #ffffff;
}

.nav-menu__link--footer:hover {
  color: rgba(255, 255, 255, 0.6);
}

.nav-menu__link--footer:focus {
  color: rgba(255, 255, 255, 0.3);
}

.social {
  list-style: none;
}

.social__button {
  color: rgba(255, 255, 255, 0.7);
}

.social__button:hover {
  color: #ffffff;
}

.social__button:focus {
  color: rgba(255, 255, 255, 0.3);
}
