@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy ExtraBold'),
       url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy Light'),
       url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans'),
       url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  src: local('OpenSans Light'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff');
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
  width: 1px;
	height: 1px;
	overflow: hidden;
}

.nav-catalog__list,
.map-popup,
.letter-popup,
.details {
  display: none;
}

body {
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

.header {
  width: 1040px;
  margin: 40px auto 50px;
  padding: 1px 60px 0;
  position: relative;

  background-color: rgba(240, 197, 46, 0.5);
}

.header__logo {
  position: absolute;
  top: -19px;
}

.header__top {
  display: flex;
  margin-top: 50px;
}

.header__search {
  width: 540px;
}

.search__field {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.3);

  background-color: transparent;
  border: none;
}

.search__field:focus {
  color: #000000;
}

.search__field::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: rgba(0, 0, 0, 0.3);
}

.search__field::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgba(0, 0, 0, 0.3);
  opacity:  1;
}

.search__field:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.3);
}

.search__field::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.3);
}

.search__field::placeholder { /* Most modern browsers ? */
  color: rgba(0, 0, 0, 0.3);
}

.search__field:hover::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: rgba(0, 0, 0, 0.6);
}

.search__field:hover::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgba(0, 0, 0, 0.6);
  opacity:  1;
}

.search__field:hover:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.6);
}

.search__field:hover::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.6);
}

.search__field:hover::placeholder { /* Most modern browsers ? */
  color: rgba(0, 0, 0, 0.6);
}

.header__user-nav {
  width: 280px;
  margin: 0;
}

.user-nav {
  padding: 0;
  list-style: none;
}

.user-nav__login-link,
.user-nav__profile-link,
.user-nav__logout-link,
.compare,
.cart {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.header__compare {
  width: 120px;
}

.header__cart {
  width: 100px;

  text-align: right;
}

.link-dark {
  color: #000000;
}

.link-dark:hover {
  color: rgba(0, 0, 0, 0.6);
}

.link-dark:focus {
  color: rgba(0, 0, 0, 0.3);
}

.header__nav {
  display: flex;
  margin-top: 45px;
}

.site-nav__catalog {
  width: 540px;
}

.nav-catalog__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-catalog__list {
  list-style: none;
}

.nav-catalog__link {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.site-nav__nav-menu {
  width: 500px;
  margin: 0;
}

.nav-menu {
  display: flex;
  padding: 0;
  list-style: none;
}

.nav-menu__item {
  width: 160px;
}

.nav-menu__item--last {
  margin-left: auto;
  text-align: right;
}

.nav-menu__link {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

.main__info {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-us,
.contacts {
  width: 560px;
}

.title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #000000;
}

.content-text {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.transport__company {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
}

.button {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  color: #000000;

  border: none;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs__content {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.1px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__content:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__content--current:hover {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__content:focus {
  color: rgba(0, 0, 0, 0.1);
}

.filters {
  background-color: #ebebeb;
}

.filter__set {
  border: none;
}

.filter__setname {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2px;
  color: #000000;
}

.color-list,
.bluetooth-list {
  list-style: none;
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: #000000;
}

.color-list__input:disabled + .color-list__label,
.bluetooth-list__input:disabled + .bluetooth-list__label {
  color: #a6a6a6;
}

.catalog__list {
  list-style: none;
}

.catalog-item__link {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #000000;
}

.catalog-item__price {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.2px;
  text-align: right;
}

.footer {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;

  background-color: #464646;
}

.footer__wrapper {
  width: 1160px;
  margin: 90px auto 0;
  padding: 65px 20px;
}

.footer__top {
  display: flex;
}

.footer__logo {
  width: 180px;
  margin-right: auto;
}

.footer__user-nav {
  width: 340px;
  margin: 0;
  text-align: right;
}

.footer__compare {
  width: 135px;
  text-align: right;
}

.footer__cart {
  width: 120px;
  text-align: right;
}

.footer__middle {
  display: flex;
  justify-content: space-between;
}

.footer__nav-menu {
  width: 430px;
  justify-content: space-between;
}

.footer__bottom {
  display: flex;
  margin-top: 65px;
}

.footer__line {
  width: 80px;
}

.footer__social {
  margin: 0 auto;
}

.footer__academy-link {
  width: 80px;
  text-align: right;
}

.link-light {
  color: rgba(255, 255, 255, 0.7);
}

.link-light:hover {
  color: #ffffff;
}

.link-light:focus {
  color: rgba(255, 255, 255, 0.3);
}

.nav-menu__link--footer {
  color: #ffffff;
}

.nav-menu__link--footer:hover {
  color: rgba(255, 255, 255, 0.6);
}

.nav-menu__link--footer:focus {
  color: rgba(255, 255, 255, 0.3);
}

.social {
  display: flex;
  padding: 0;
  list-style: none;
}

.social__button {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.social__button:hover {
  color: #ffffff;
}

.social__button:focus {
  color: rgba(255, 255, 255, 0.3);
}

/* body > * {
  background-color: rgba(255, 0, 0, 0.2);
  outline: #ff0000 solid 2px;
}

body > * > * {
  background-color: rgba(0, 255, 0, 0.2);
  outline: #00ff00 solid 2px;
}

body > * > * > * {
  background-color: rgba(0, 0, 255, 0.2);
  outline: #0000ff solid 2px;
} */
